/* Pengaturan dasar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Menu navigasi */
nav {
    background-color: #333;
    text-align: center;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: #00bcd4;
}

/* Bagian utama */
main {
    width: 80%;
    margin: 30px auto;
}

/* Kotak */
.box {
    background-color: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.profile-img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

/* Tombol */
.button {
    display: inline-block;
    background-color: #00bcd4;
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0097a7;
}

/* Tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #222;
    color: white;
}

/* Form */
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #00bcd4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.gallery-img {
    width: 300px;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}